{% extends "siobra/header.html" %}

{% block content %}
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>
<p>Bem vindo ao SIObra</p>

<!--{% include "siobra/includes/htmlsnippert.html" %}-->
{% endblock %}